<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Backend EJS and Dynamic Routing</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    </head>

    <body>
        <h2 id="pageTitle" class="text-3xl p-4"></h2>
        <h1 class="text-3xl font-bold w-full text-center text-amber-500">
            This is Backend Series <%= 2*5 %>
        </h1>
        <script src="/javascripts/script.js"></script>
    </body>

</html>