#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.counter{
  font-size: 25px;
  color: white;
  font-weight: 600;
  padding: 10px;
}

.btn{
  padding: 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}