<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Index Multer Image Upload</title>
    </head>

    <body style="background-color: black; color: white;  width: vw; height: vh;">
        <h1>Index Page Multer </h1>
    </body>

</html>