DATABASE_URL="mysql://root:<Password>@localhost:3306/<databaseName>"
JWT_SECRET="akak2545^anikakaa4aaniaakaakkal-aass5A5s66sala"
SESSION_SECRET='392f664868e4eb5f700ssks35790ajaaksjksmdf8960476jksksks8861f714390d1'