/* body{
    background-color: pink;
}
#box{
    height: 200px;
    width: 150px;
    background-color: yellow;
    color:rgb(227, 52, 52);
    border: 1px solid black;
} */


/* Q.2 problem sollving style */
.paraQ2{
    background-color: yellow;
    color: blue;
}

.newParaQ2{
    background-color: violet;
}