# GitHubId & GitHubSecret Generated 07/01/2025 Tuesday

GITHUB_ID = "Your GitHub Id"
GITHUB_SECRET = "Your GitHub Secret"

# GoogleId & GoogleSecret Generated 17/01/2025 Friday

GOOGLE_ID = "Your Google Id"
GOOGLE_SECRET = "Your Google Secret"

# NextAuth_URL & Auth_Secret
NEXTAUTH_URL=http://localhost:3000
AUTH_SECRET="Your nextAuth Secret" # Added by `npx auth secret`. Read more: https://cli.authjs.dev 

# RazorpayID & RazorpaySecret Generated 28/01/2025 Tuesday
NEXT_PUBLIC_RAZORPAY_ID = "razorPay Id" # Not Paste here We Fetch from Database
KEY_SECRET = "RazorPay secret" # Not Paste here We Fetch from Database

# MongoDB Databse 29/01/2025 Wednesday
MONGODB_URI = mongodb://localhost:27017/GetMeAChai

# Index URL
NEXT_PUBLIC_URL = http://localhost:3000
